*{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
body{
	font: 14px/1.5 微软雅黑,tahoma,arial,宋体,sans-serif;
}
h1,h2,h3{
	font-weight: normal;
	font-size: 100%;
}
.clearfix{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix:after{
	*zoom: 1;
}
.wrap{
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
.wrap h1{
	font-size: 34px;
	color: #4285F4;
}
input[type='text']{
	width: 580px;
	height: 40px;
	margin: 0 auto;
	border: none;
	outline: none;
	border: 1px solid #D9D9D9;
	/*border: 1px solid #4387F8;*/
	font-size: 16px;
}
ul.hint{
	text-align: left;
	border: 1px solid #D9D9D9;
	width: 580px;
	margin: 0 auto;
	position: relative;
	top: -1px;
	display: none;
}
ul li{
	line-height: 1.6;
	color: #4387F8;
}
ul li.selected,ul li:hover{
	background: #EEEEEE;
}

