*{
	margin: 0;
	padding: 0;
}
body{
	font: 14px/1.5 微软雅黑,tahoma,arial,宋体,sans-serif;
}
.clearfix{
	*zoom: 1;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.wrap{
	border: 1px solid black;
	position: relative;
}
.banners{
	border: 1px solid red;
	overflow: hidden;
	position: relative;
	/* height: 2070px; */
	height: 690px;
}
.banner{
	position: absolute;
	left: 50%;
	margin-left: -960px;
	font-size: 0;
}
.banner01{
	z-index: 3;
}
.banner02{
	/*top: 690px*/
}
.banner03{
	/*top: 1380px;*/
}
/*  .banner img{
 	width: 100%;
 	display: block;
 } */ 
.focus{
	border: 1px solid red;
	font-size: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 4;
}
.focus li{
	display: inline-block;
	border: 1px solid black;
	position: relative;
	left: -50%;
	margin: 0 5px;
}
.focus li a{
	border: 1px solid black;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;

}
.focus li a.selected{
	background: red;
}