*{
	padding: 0;
	margin: 0;
	/*font: 14px/1.5 "Microsoft YaHei",sans-serif;*/
}
a{
	text-decoration: none;
}
ul,li{
	list-style-type: none;
}
body{
	min-width: 980px;
	font: 14px "宋体",sans-serif;
	background: #EEEEEE;
}
.clearfix{
	*zoom: 1;
}
.clearfix:after{
	height: 0;
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
}
/*header*/
header{
	width: 100%;
	position: relative;
	background: #6BA3A8;
}
.nav-wrap{
	height: 80px;
	width: 980px;
	position: relative;
	margin: 0 auto;
}
.mylogo{
	position: absolute;
	left: 0;
	bottom: 5px;
	color: #fff;
	font-size: 22px;
}
.nav-head{
	position: absolute;
	right: 0;
	bottom: 5px;
}
.nav-head ul{
	font-size: 0;

}
.nav-head ul li{
	font-size: 14px;
	display: inline-block;
	margin: 0 14px;
}
.nav-head ul li a{
	display: block;
	color: #fff;
}
.gitlogo{
	position: absolute;
	right: 10px;
	bottom: 0;
}
.gitlogo *{
	display: block;
}
@media (max-width:980px){
	.gitlogo{
		display: none;
	}
}

/*index.html*/
div.index-wrap{
	width: 100%;
	background: #EEEEEE;
}
.banner{
	width: 100%;
	position: relative;
}
.banner img{
	width: 100%;
	display: block;
}
.info-wrap{
	width: 980px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -490px;
}
.info{
	/*color: #fff;*/
	width: 360px;
	float: right;
	padding: 10px 10px 30px;
	background: -o-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.7)),color-stop(75%,rgba(255,255,255,0.5)),color-stop(100%,rgba(255,255,255,0) 100%));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
}
.info h1{
	font-size: 14px;
	text-align: right;
	margin-bottom: 12px;

}
.info p{
	font-size: 12px;
	text-indent: 2em;
	line-height: 150%;
}



.figure-wrap{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 110px;
}
.figure-wrap figure{
	width: 320px;
	float: left;
	background: #fff;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	padding-top: 10px;
}
.figure-wrap figure:nth-child(2){
	margin-left: 10px;
	margin-right: 10px;
}
.figure-wrap figure img{
	display: block;
	width: 300px;
	height: 180px;
	margin: 0 auto;
}
.content-wrap{
	font-size: 12px;
	padding: 10px 30px 20px;
}
.content-wrap p{
	text-indent: 2em;
	line-height: 170%;
}


.intro-wrap{
	width: 100%;
	height: auto;
	position: relative;
	background: #fff;
	padding: 160px 0 180px 0 ;
}
.intro-wrap img{
	display: block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -50px;
	margin-left: -80px;

}
.intro{
	width: 600px;
	margin: 0 auto;
}
@font-face{
	font-family: Century Gothic;
	src: url(../fonts/Century%20Gothic.ttf);
}
.intro h1{
	font-size: 20px;
	color: #000;
	font-family: Century Gothic;
	text-align: center;
	margin-bottom: 50px;

}
.intro p{
	font-size: 14px;
	color: #000;
	text-indent: 2em;
	line-height: 150%;
}

/*blog.html*/
.blog-wrap{
	width: 980px;
	margin: 20px auto 0;
}
.blog-left{
	float: left;
	width: 710px;
}
.blog-right{
	float: right;
	width: 260px;
}
.post{
	width: 100%;
	font-size: 12px;
	padding: 25px 20px 16px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}
.post:nth-child(2){
	margin: 10px 0;
}
.post h1{
	font-size: 16px;
	color: #A660B7;
}
.post h2{
	font-size: 12px;
	color: #666;
	margin: 10px 0 16px;
}
.post p{
	text-indent: 2em;
	line-height: 170%;
}
.post-info{
	color: #999999;
	text-align: right;
	margin-top: 35px;
}
.tag-info{
	position: absolute;
	top: 25px;
	left: -50px;
}
.tag-info span{
	display: block;
	width: 50px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.tag-info span:first-child{
	background-color: #6BA3A8;
}
.tag-info span:last-child{
	background-color: #95E8A7;
}

.pagination{
	font-size: 0;
	text-align: center;
	margin: 10px auto 50px;
}
.pagination li{
	font-size: 12px;
	display: inline-block;
	margin: 0 5px;
	text-align: center;
}
.pagination li a{
	display: block;
	padding: 8px 10px;
	background: #fff;
}
.pagination li a:hover,.pagination li a:focus{
	background: #A660B7;
}

/* .search-wrap{
	width: 100%;
	background: #fff;
	padding: 20px 0;
	margin-bottom: 10px;
}
.search{
	border: 1px solid #BCBCBC;
	height: 40px;
	font-size: 0;
	margin: 0 auto;
	width: 220px;

	margin: 0 20px;
	position: relative;


}
.keyword{
	border: none;
	height: 40px;
	width: 170px;
	outline: medium none;
	background: url("../images/search.png") no-repeat center;
	background-size: 100%;

	position: absolute;
	top: 0;
}
.keyword:focus{
	background-image: none;
}
.btn{
	border: none;
	height: 40px;
	background: #B7B7B7;
	width: 50px;
	color: #fff;
	outline: none;

	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
} */

.post-nav{
	margin-bottom: 10px;
	background: #fff;
}
.post-nav li{
	border-left: 4px solid #ADF0BC;
	box-sizing: border-box;
	border-top: 1px solid #BCBCBC;
	border-bottom: 1px solid #BCBCBC;
	margin-top: -1px;
}
.post-nav li a{
	display: block;
	padding: 20px 0 20px 20px;
	color: #666666;
}

.post-nav .selected,.post-nav li:hover{
	border-left: 4px solid #6BA3A8;
}
.cal-wrap{
	width: 100%;
	background: #fff;
	padding: 15px 0;
	margin-bottom: 10px;
}
.cal{
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
	color: #999999;
	margin: 0 auto;
}
.cal th,.cal td{
	margin: 0;
	padding: 0;
}
.cal caption{
	color: #773C88;
	padding: 5px 0;
}
.cal caption [rel='prev']{
	float: left;
	margin-left: 8px;
}
.cal caption [rel='next']{
	float: right;
	margin-right: 8px;
}
.cal caption a:link{
	color: #773C88;
}
.cal thead th{
	border-bottom: 1px solid #eee;
	padding: 7px;
}
.cal tbody td{
	border-bottom: 1px solid #eee;
	margin-bottom: -1px;
}
.cal tbody a{
	display: block;
	color: #999999;
	padding: 7px; 
}
.cal tbody .selected a,.cal tbody td a:hover{
	background: #773C88;
}

.tags{
	background: #fff;
	padding: 15px 15px 20px;
	font-size: 12px;
	color: #773C88;
}
.tags p{
	color: #666666;
	margin-bottom: 14px;
}
.tags div span{
	margin-right: 5px;
}
.tags div:nth-child(2) span:nth-child(1),.tags div:nth-child(3) span:nth-child(2){
	font-size: 24px;
	font-weight: bold;
}
.tags div:nth-child(2) span:nth-child(2){
	font-size: 14px;
	font-weight: bold;
}
.tags div:nth-child(3) span:nth-child(3){
	font-size: 14px;
}
.tags div:nth-child(4) span:nth-child(2){
	font-size: 20px;
	font-weight: bold;
}
.tags div:nth-child(4) span:nth-child(4){
	font-size: 15px;
}
.tags div:nth-child(5) span:nth-child(2){
	font-size: 18px;
	font-weight: bold;
}
.tags div:nth-child(5) span:nth-child(3){
	font-size: 14px;
	font-weight: bold;
}


/*gallery.html*/
.gallery-wrap{
	width: 980px;
	margin: 20px auto;
}
.gallery-left{
	width: 710px;
	float: left;
}
.gallery-right{
	width: 260px;
	float: right;
}
.tab-wrap{
	font-size: 0;
}
.tab{
	width: auto;
	display: inline-block;
	background: #fff;
}
.tab li{
	float: left;
	font-size: 14px;

}

.tab li a{
	display: block;
	border-top: 4px solid #522A5C;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	box-sizing: border-box;
	padding: 20px 20px;
}
.tab li.selected a{
	border-bottom: none;
}
.tab .tab-item-js>a{
	border-top: 4px solid #DFC6E6;
}
.tab .tab-item-js>a:hover{
	border-top: 4px solid #522A5C;
	border-bottom: none;
}
.tab .tab-item-ui>a{
	border-top: 4px solid #D2A6FF;
}
.tab .tab-item-ui>a:hover{
	border-top: 4px solid #5900B2;
	border-bottom: none;
}
.tab .tab-item-fk>a{
	border-top: 4px solid #FFA98C;
}
.tab .tab-item-fk>a:hover{
	border-top: 4px solid #8C2300;
	border-bottom: none;
}
.tab .tab-item-app>a{
	border-top: 4px solid #FFE188;
}
.tab .tab-item-app>a:hover{
	border-top: 4px solid #D9A300;
	border-bottom: none;
}

.waterfall{
	width: 100%;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
}
.waterfall>div{
	float: left;
}
.left-sec{
	width: 330px;
}
.med-sec{
	width: 160px;
	margin: 0 10px;

}
.right-sec{
	width: 160px;
}
.waterfall img{
	width: 160px;
	display: block;
}
.waterfall figure{
	width: 160px;
	margin-bottom: 10px;
}
.waterfall span{
	width: 28px;
	height: 28px;
	display: inline-block;
	border: 1px solid #fff;
	float: left;
	line-height: 28px;
	text-align: center;
	border-radius: 50%;
	margin-right: 12px;
}
.waterfall .description{
	padding: 12px;
	color: #fff;
}
.waterfall .description>div{

	overflow: hidden;
	*zoom: 1;
	/*触发BFC，使其不会围绕浮动元素*/
}
.waterfall h1{
	font-size: 14px;
}
.waterfall p{
	font-size: 12px;
	line-height: 170%;
}
.left-sec .figure01{
	width: 330px;
}
.figure01 img{
	width: 330px;
}

.subleft{
	width: 160px;
	float: left;
}

.subright{
	float: right;
	width: 160px;
}
.figure02 .description,.figure08 .description,.figure09 .description{
	background: #D9A300;
}
.figure01 .description,.figure03 .description,.figure07 .description{
	background: #522A5C;
}
.figure04 .description,.figure10 .description{
	background: #8C2300;
}
.figure05 .description,.figure06 .description{
	background: #5900B2;
}

.more{
	display: block;
	width: 100%;
	line-height: 50px;
	background: #fff;
	margin-top: 10px;
	text-align: center;
	color: #666666;
}

/*重写搜索框*/
.search-wrap{
	width: 100%;
	text-align: center;
	padding: 20px 0;
	background: #fff;
	margin-bottom: 10px;
}
.search{
	border: 1px solid #DDDDDD;
	height: 40px;
	font-size: 0;
	display: inline-block;
	width: 220px;
	position: relative;
}
.search:hover{
	border: 1px solid #333333;
}
.search:hover .btn{
	background: #999999;
}
.keyword{
	border: none;
	height: 40px;
	outline: medium none;
	width: 170px;
	background: url("../images/search.png") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	
	position: absolute;
	left: 0;
}
.btn{
	border: none;
	outline: medium none;
	height: 40px;
	width: 50px;
	background: #DDDDDD;
	color: #fff;
	
	position: absolute;
	font-size: 18px;
	right: 0;
}

.ranks-wrap{
	width: 100%;
	padding: 20px 10px; 
	box-sizing: border-box;
	background: #fff;
}
.ranks-wrap>p{
	color: #666666;
	margin-bottom: 25px;
}
.ranks>p{
	margin-top: 12px;
}

.ranks>p>span:first-child{
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 50%;
	vertical-align: middle;
	color: #fff;
	background: #522A5C;
}
.bar{
	display: inline-block;
	width: 104px;
	height: 18px;
	border: 1px solid #522A5C;
	background: #fff;
	vertical-align: middle;
}
.bar span{
	display: inline-block;
}
.bar-ui>span{
	width: 100%;
	height: 18px;
	background: #522A5C;
}
.bar-trim>span{
	width: 80%;
	height: 18px;
	background: #522A5C;
}
.bar-app>span{
	width: 60%;
	height: 18px;
	background: #522A5C;
}
.bar-tab>span{
	width: 40%;
	height: 18px;
	background: #522A5C;
}
.bar-addcs>span{
	width: 20%;
	height: 18px;
	background: #522A5C;
}

/*about.html*/
.about-wrap{
	width: 980px;
	margin: 100px auto 25px; 
}
.about-left{
	width: 487px;
	float: left;
	height: 1300px;
	position: relative;
	background: #fff;
}
.about-right{
	width: 487px;
	float: right;
	height: 1300px;
	position: relative;
	background: #fff;
}
.head-pic{
	width: 160px;
	height: 160px;
	border: 10px solid #eee;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 100%;
	top: -60px;
	margin-left: -87px;
	z-index: 1;
}
.phone-pic{
	width: 100px;
	height: 100px;
	border: 5px solid #eee;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 100%;
	top: 260px;
	margin-left: -52px;
	z-index: 1;

}
.school-pic{
	width: 100px;
	height: 100px;
	border: 5px solid #eee;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 100%;
	top: 465px;
	margin-left: -55px;
	z-index: 1;
}
.work-pic{
	width: 100px;
	height: 100px;
	border: 5px solid #eee;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 100%;
	top: 795px;
	margin-left: -55px;
	z-index: 1;
}
.about-right h1{
	font-size: 20px;
	font-weight: 500;
}
.about-intro{
	width: 505px;
	margin-top: 130px;
	position: relative;
}
.about-intro h1{
	position: absolute;
	left: -135px;
	top: 0;
}
.about-intro p{
	width: 315px;
	line-height: 150%;
	margin-left: 35px;
}

.about-contact{
	width: 370px;
	position: relative;
	margin-top: 115px;
}
.about-contact h1{
	float: left;
	position: absolute;
	left: -135px;
}
.contact-item{
	margin-left: 35px;
}
.contact-item p{
	line-height: 150%;
}
.about-edu{
	width: 370px;
	margin-top: 165px;
}
.about-edu h1{
	position: absolute;
	left: -135px;
}

.edu-item div{
	position: relative;
}
.edu-item div:nth-child(2){
	margin-top: 35px;
}
.edu-item div:last-child{
	margin-top: 35px;
}
.edu-item div span,.work-item div span{
	display: inline-block;
	width: 60px;
	text-align: center;
	border: 5px solid #eee;
	line-height: 25px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: -35px;
	background: #fff;
}
.edu-item div p{
	margin-left: 55px;
	line-height: 150%;
}
.about-work{
	width: 370px;
	margin-top: 160px;
}
.about-work h1{
	position: absolute;
	left: -135px;
}

.work-item div{
	position: relative;
}
.work-item div:last-child{
	margin-top: 35px;
}
.work-item div p{
	margin-left: 55px;
	line-height: 150%;
}

/*footer*/
footer{
	width: 100%;
	font-size: 12px;
	color: #fff;
	background: #000;
}
.nav-foot{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #333333;
	/*overflow: hidden;*/
}
.nav-foot ul{
	font-size: 0;
	padding: 7px 0;

	/* float: left;
	position: relative;
	left: 50%; */
}
.nav-foot ul li{
	display: inline-block;
	font-size: 14px;
	margin: 0 14px;

	/* float: left;
	position: relative;
	right: 50%; */
}
.nav-foot ul li a{
	display: block;
	color: #fff;
}

.links-wrap{
	width: 980px;
	margin: 40px auto 95px;

}
.link-item{
	font-size: 12px;
	float: left;
	margin-right: 145px;

}
.link-item p{
	margin-bottom: 30px;
	color: #CCCCCC;
}
.link-item ul li{
	line-height: 150%;
}

.link-item ul li a{
	display: block;
	color: #FFF;
}
.link-item ul li a:hover{
	text-decoration: underline;
}
.foot-info{
	text-align: center;
}
.foot-info *{
	display: block;
	margin: 0 auto;
}
.foot-info>span{
	margin-bottom: 25px;
}

